        p {
            font-size: 40px;
            margin: 0;
            letter-spacing: 3px;
        }
        img[src=""] {
            display: none;
        }
        body {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        
        a {
            color: inherit;
            text-decoration: none !important;
        }
        
        .center {
            font-family: 'Montserrat', sans-serif;
            position: fixed;
            /* or absolute */
            top: 50%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
            animation: fadein 3s;
            -moz-animation: fadein 3s;
            /* Firefox */
            -webkit-animation: fadein 3s;
            /* Safari and Chrome */
            -o-animation: fadein 3s;
            /* Opera */
        }
        
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @-moz-keyframes fadein {
            /* Firefox */
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @-webkit-keyframes fadein {
            /* Safari and Chrome */
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        
        @-o-keyframes fadein {
            /* Opera */
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        html,
        body {
            overflow: hidden;
            color: #fefeff;
        }
        
        body {
            margin: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        
        canvas {
            width: 100%;
            height: 100%;
            z-index: -999999999;
        }
        
        [class^="letter"] {
            -webkit-transition: opacity 3s ease;
            -moz-transition: opacity 3s ease;
            transition: opacity 3s ease;
        }
        
        .letter-0 {
            transition-delay: 0.2s;
        }
        
        .letter-1 {
            transition-delay: 0.4s;
        }
        
        .letter-2 {
            transition-delay: 0.6s;
        }
        
        .letter-3 {
            transition-delay: 0.8s;
        }
        
        .letter-4 {
            transition-delay: 1.0s;
        }
        
        .letter-5 {
            transition-delay: 1.2s;
        }
        
        .letter-6 {
            transition-delay: 1.4s;
        }
        
        .letter-7 {
            transition-delay: 1.6s;
        }
        
        .letter-8 {
            transition-delay: 1.8s;
        }
        
        .letter-9 {
            transition-delay: 2.0s;
        }
        
        .letter-10 {
            transition-delay: 2.2s;
        }
        
        .letter-11 {
            transition-delay: 2.4s;
        }
        
        .letter-12 {
            transition-delay: 2.6s;
        }
        
        .letter-13 {
            transition-delay: 2.8s;
        }
        
        .letter-14 {
            transition-delay: 3.0s;
        }
        
        .letter-15 {
            transition-delay: 3.2s;
        }